<div ng-controller="HomeCtrl">
	Apikey: <input width="500" type="text" placeholder="Go to dev.openfpt.vn to get API Key" data-ng-model="apiKey">
	<br /> Text: <textarea width="500" rows="5" type="text" data-ng-model="texts"> </textarea>
	<br /> Voice: <input width="500" type="text" placeholder="male | female | both (default)" data-ng-model="voice">
	<br /> Speed: <input width="500" type="text" placeholder="-3 to 3 (extreme slow to extreme fast, default is normal)" data-ng-model="speed">
	<br />
	<br /> <button data-ng-click="speak();">Speak </button>
	<audio id="openfpt-tts"></audio>
</div>